.ui-file-upload {
    border: 1px solid #000000;
    padding: 2rem;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s ease;
    background-color: #F9F9F9;
}

.ui-file-input {
    display: none;
}

.ui-file-upload-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.ui-file-upload-content p {
    color: #4b5563;
}

.ui-file-upload-hint {
    font-size: 0.875rem;
    color: #6b7280;
    margin-bottom: 1rem;
}