.ui-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem 1rem;
    border-radius: 0;
    font-weight: 500;
    font-size: 1rem;
    transition: all 0.2s ease;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: var(--color-primary);
    color: white;
}

.ui-button:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

.ui-button.abby-button-full {
    width: 100%;
}

.ui-button.abby-button-large {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
}

.ui-button.modal-button {
    width: 100%;
    margin-top: 1rem;
}