.ui-input {
    font-family: GT Walsheim;
    width: 100%;
    padding: 0.75rem 1rem;
    border: 1px solid #000000;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #111827;
    background-color: white;
    transition: border-color 0.2s ease;
}

input {
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.ui-input:focus {
    outline: none;
    border-color: var(--abby-green);
    box-shadow: 0 0 0 2px rgba(0, 128, 0, 0.1);
}

.ui-input:disabled {
    background-color: #f3f4f6;
    cursor: not-allowed;
    opacity: 0.7;
}

.ui-input::placeholder {
    font-family: GT Walsheim;
    color: #505050;
}

.ui-input-error {
    border-color: #dc2626;
}

.ui-input-error:focus {
    border-color: #dc2626;
    box-shadow: 0 0 0 2px rgba(220, 38, 38, 0.1);
}